header {
    background-image: url("cat.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}

.intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3em;
    font-weight: 700;
}

.intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

#portfolio img {
    width: 400px;
}

h2 {
    padding-bottom: 60px;
}
