<template name="homePage">
<div id="homePage" class="text-center">

    <section id="presentation">
        <div class="jumbotron text-center">
            <div class="container">
                <div class="row">
                    <h1>Welcome to storysquare</h1>
                    <h2>Get your pictures printed and sent to you</h2>
                </div>
            </div>

        </div>
    </section>

    <section id="products">
        <div class="container-fluid">
            <div class="row">
                <h2>Products</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="thumbnail">
                        <img src="img/print-type-small.jpg" alt="...">
                        <div class="caption">
                            <h3>Retro</h3>
                            <p>10x10 cm retro style print</p>
                            <a href="{{pathFor route='order'}}" class="btn btn-primary btn-lg">Order</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="thumbnail">
                        <img src="img/print-type-small.jpg" alt="...">
                        <div class="caption">
                            <h3>Retro</h3>
                            <p>10x10 cm retro style print</p>
                            <a href="{{pathFor route='order'}}" class="btn btn-primary btn-lg">Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container-fluid">
            <div class="row">
                <h2>You can reach us</h2>
                <ul class="list-inline">
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Email</li>
                </ul>
            </div>

        </div>
    </section>

    <section id="about">
        <div class="container-fluid">
            <div class="row red">
                <h2>Our story</h2>
                <ul class="list-inline">
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Email</li>
                </ul>
            </div>

        </div>
    </section>

</div>
</template>