<template name="homePage">
<div id="homePage">

    <section id="presentation">
        <div class="jumbotron">
                <div class="main-image">
                </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h1>Storysquare</h1>
                    <h2>Copenhagen's friendliest photo printing service</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="slogan">

    </section>

    <hr/>

    <section id="products">
        <div class="container text-center">
            <div class="row">
                <h2>Products</h2>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="thumbnail">
                        <img src="img/print-square-lg.jpg" alt="...">
                        <div class="caption">
                            <h3>Square</h3>
                            <p>10x10 cm square prints</p>
                            <p>12 photos only 60 dkk</p>
                            <a href="mailto:hello@storysquare.co?subject=Order some square pictures" class="btn btn-default btn-lg">Order by email</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="thumbnail">
                        <img src="img/print-retro-lg.jpg" alt="...">
                        <div class="caption">
                            <h3>Retro</h3>
                            <p>9x10 cm prints with your custom tagline</p>
                            <p>12 photos only 60 dkk</p>
                            <a href="mailto:hello@storysquare.co?subject=Order some retro pictures" class="btn btn-default btn-lg">Order by email</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-left">
                <div class="col-md-12 col-lg-12">
                    <h3>It's easy to order:</h3>
                    <ul>
                        <li><p>Attach 12 photos to an email and provide your delivery address</p></li>
                        <li><p>For Retro: name each photo file with a tagline you want to have</p></li>
                        <li><p>You will get a confirmation email and payment details</p></li>
                        <li><p>After we receive the payment, we will send pictures to you.</p></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    <section id="contact">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Got any questions, ideas or just keen to chat, say</h2>
                    <a href="mailto:hello@storysquare.co" class="mailto">hello@storysquare.co</a>
                    <ul class="list-inline">
                        <li><a href="https://instagram.com/storysquare.co/"><i class="fa fa-instagram fa-5x"></i></a></li>
                        <li><a href="https://www.facebook.com/storysquareprints"><i class="fa fa-facebook fa-5x"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

</div>
</template>